*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  font-family: Arial;
}

div{
  font-size: 100px;
  margin: 50px auto;
  width: 500px;
  text-align: center
}


































/* Height */
